<header id="header" class="header header-fixed hide-from-print" role="banner">
  <div class="container">
    <nav id="nav" role="navigation">
      <ul class="nav">
        <li>
          <a class="header-link subdued hide" href="/recent">
            <span class="complimentary fl">最近</span>
          </a>
        </li>
        <li>
          <a class="header-link subdued hide" href="/popular">
            <span class="complimentary fl">热门</span>
          </a>
        </li>
        <li>
          <a class="header-link subdued" href="/">
            <span class="complimentary fl">星空社区</span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="http://xiiqi.com" class="brand">
    	<img src="http://img.aow.me/logo47.png">
    </a>
  </div>
</header>