/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,html {
	width:100%;
	height:auto;
	line-height: 1;
	font-family: "Microsoft YaHei",Simsun,"Droid Serif",Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 13px;
	line-height: 1.6em;
	background: #fff;
	color: #3a4145;
	overflow-x: hidden;
	overflow-y:none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color:#333;
	text-decoration: none;
}

a:hover{
	color: #fe8171;
	text-decoration: none;
}


/*Header*/
.header {
    background: rgba(255,255,255,.9);
}

.header-fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0
}

.nav {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none
}

.nav li {
    display: inline-block
}

.nav li:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid #fe8171
}

.header-link {
    display: inline-block;
    border: 0;
    color: #222;
    padding: 1em;
}

.slide {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.slide-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.slide-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.site-head {
    position: relative;
    display: table;
    width: 100%;
    padding: 6em 0 3em;
    text-align: center;
    color: #fff
}

.site-head .vertical {
    display: table-cell;
    vertical-align: middle
}

.site-head .inner {
    position: relative
}

@media only screen and (max-width: 1023px) {
    .site-head .inner {
        text-align:center
    }
}

@media only screen and (max-width: 1023px) {
    .site-head {
        width:100%;
        height: 30%;
        min-height: 300px
    }
}
/**  Header end */

.cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover
}

.blog-title{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:32px;
	font-weight:700;
	text-shadow:0 1px 5px rgba(0,0,0,.2);
}

.blog-description{
	margin-top: 10px;
	font-size: 15px;
}


/*Content*/
.container{
	width:100%;
	max-width: 800px;
	margin:0 auto;
}

.post{
	color:#555;
	line-height:1.8;
	border-bottom: #CCC 1px solid;
	padding:20px 0px;
}

.post::after {
	display: block;
	content: "";
	width: 7px;
	height: 7px;
	border: 1px solid #ebf2f6;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	background: #fff;
	border-radius: 100%;
	-webkit-box-shadow: #fff 0 0 0 5px;
	box-shadow: #fff 0 0 0 5px;
}

.post-cover{
		float: left;
		width: 150px;
		height: 150px;
		margin: 0 10px 10px 0;
		overflow: hidden;
	}

.post-cover img {
	display: block;
	width: auto;
	margin: 0 auto;
	max-width: none;
	height: 150px;
}

.post-content{
	padding-left: 170px;
}

.post-content .post-title{
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.post-excerpt{
	color:#555;
	font-weight:100;
	font-size: 16px;
	height: 90px;
	line-height: 30px;
	overflow: hidden;

}

.post-excerpt p{
	margin: 1rem 0 0;
	font-size: 16px;
	line-height: 1.75em;
}

.post-meta{
	margin-top: .5em;
	text-transform:uppercase;
	line-height:1.1;
	letter-spacing:2px;
	font-size:12px;
	display:block;
	color:#9eabb3;
}

.post-meta a {
	color:#9eabb3;
}

.post-meta a:hover{
	color: #0DB37C;
}

/** Content */
.content{
	margin-top: 50px;
	margin-bottom: 20px;
}

.content #title{
	font-size: 25px;
	font-weight: bold;
	line-height: 1.4em;
}

.post-body{
	margin-top: 20px;
}

.post-body h1,.post-body h2 {
    padding-top: 30px;
    margin-bottom: 4px
}

.post-body h1~hr,.post-body h2~hr {
    margin-bottom: 0
}

.post-footer {
    border-bottom: #CCC 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3
}

.author-meta li {
    float: left;
    margin-left: 10px
}

.author-meta li:before {
    content: " · ";
    display: inline-block;
    margin-right: 10px;
    color: #BBC7CC
}

.author-meta li:first-child {
    margin-left: 0
}

.author-meta li:first-child:before {
    display: none
}

.author-meta a {
    color: #9EABB3
}

.post-footer .share a {
    display: inline-block;
    text-decoration: none
}

.post-footer .share a:hover {
    color: #50585D
}



article h2{
	font-weight:100;
	line-height:1.4;
	font-size:27px;
	color:#777;
	font-style: italic;
	padding-bottom:40px;
}

article h3{
	font-weight:600;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:24px;
	margin-bottom:30px;
	color:#333;
}

article h4{
	font-weight:400;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:19px;
	margin-bottom:10px;
	color:#999;
}

article h5{
	font-weight:600;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:15px;
	color:#333;
}

article h6{
	font-weight:400;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:30px;
	color:#999;
}


article img{
	border-radius:2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);

	display: block;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}

article p strong{
	color:#333;
	font-weight:600;
}

article p em{
	font-style: italic;
}

article ul{
	list-style:disc;
	margin-left:20px;
	margin-bottom:30px;
}

article ul ul{list-style:circle;margin-bottom:0;}

article ol{
	list-style:decimal-leading-zero;
	margin-left:30px;
	margin-bottom:30px;
}

article blockquote{
	line-height:1.6;
	letter-spacing:1px;
	font-size:28px !important;
	padding:30px 0 40px 0;
	color:#555;
	font-weight:100;
	font-style:italic;
	width:900px;
	margin-left:-50px;
	text-align: center;
}

article pre, article code{
	margin-bottom:30px;
	font-size:16px;
}

article pre{
	border-radius:5px;
	box-shadow:0 1px 5px #eee;
	padding:15px !important;
}

article hr{
	margin-bottom:30px;
}

.pagination {
    position: relative;
    margin: 4rem auto;
    font-size: 12px;
    text-align: center
}

.pagination,.pagination a {
    color: #9eabb3
}

.page-prev,.page-next {
	font-family: 'Open Sans',sans-serif;
    position: absolute;
    display: inline-block;
    padding: 3px 12px;
    text-decoration: none;
    border: 1px solid #ebf2f6;
    border-radius: 30px;
    -webkit-transition: border ease .3s;
    transition: border ease .3s
}

.page-next {
    right: 0
}

.page-number {
    display: inline-block;
    padding: 2px 0
}

.page-prev {
    left: 0
}

.page-prev:hover,.page-next:hover {
    background-color: #fe8171;
    color: #fff
}

img[alt="main-image"]{display:none;}

/*Footer*/

footer{
	clear:both;
	width:100%;
}

#social-links,#rights{
	text-align: center;
	width: 100%;
	float: left;
	padding: 2px 0;
}

#social-links a{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
}

#social-links a:hover{
	text-decoration:underline;
	color:##28c0b7;
}

#rights{
	width: 100%;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
}

@media all and (max-width: 767px) {
    body {
        line-height: 1.4;
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.1em
    }

    h2 {
        font-size: 2.2rem
    }

    h3 {
        font-size: 2rem
    }

    h4 {
        font-size: 1.8rem
    }

    .container{
    	width: 100%;
    }

    .post {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1.6em

    }

    .post-cover {
        display: none
    }

    .post-content {
        padding-left: 0
    }

    .post-content img {
        padding: 0
    }

    .post-content .full-img {
        width: auto;
        width: -webkit-calc(100% + 32px);
        width: calc(100% + 32px);
        margin: 0 -16px;
        min-width: 0;
        max-width: 112%
    }

    .post-footer {
        padding: 4rem 0;
        text-align: center
    }

    .post-footer .author {
        margin: 0 0 2rem;
        padding: 0 0 1.6rem;
        border-bottom: #EBF2F6 1px dashed
    }

    .post-footer .share {
        position: static;
        width: auto
    }

    .post-footer .share a {
        margin: 1.4rem .8rem 0
    }

    .site-footer {
        margin-top: 6rem;
        font-size: 1.1rem
    }
}
